.fixed-navbar {
  position: fixed;
  right: 0;
  left:0;
  top: 0;
  min-height: 50px;
  margin-bottom: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  border: 1px solid transparent;
  z-index: 9999;
  border-width: 0 0 1px;
  background-color: #35140F;
  color:white;
  font-family: "Times New Roman", Times, serif;

}

.navbar-home{
  min-height: 40px;
}

body, html{ width:100%; height:100%; padding: 0; margin: 0;}
section{ width: 100%; height: 100%;}
figure{
  display: inline-block;
}

.btn-default{
	margin-bottom: 8px;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.content {
  padding-top: 50px;
  background-image: url("../images/World_Map.jpg");
  background-size: 100% 130%;
  background-color: #cccccc;
  overflow: auto;
}

.content-homepage{
  background-image: url("../images/Home_Background.jpg");
  background-size: 100% 130%;
  background-color: #cccccc;
}

.content-main{
  margin-top: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-right: auto;
  margin-left: auto;
  overflow: auto;
  background-color: #FFF;
  min-height: 90%;
  width:1000px;
  border-style: solid;
  border-color: brown;
}


.title-home img{
  padding-top: 30px;
  height: 170px;
  width: 600px;
  margin: 10px;
}

.container {
  padding-right: 25px;
  padding-left: 25px;
  margin-right: auto;
  margin-left: auto;
  width: 760px;
}

.content-main > .container{
  width: 900px;
}


/*Container for select image */
.pic {
  height: 200px;
  width: 200px;
  margin: 10px;
  overflow: hidden;
  
}

/*Initialized size*/
.grow img {
  height: 150px;
  width: 150px; 
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}


.grow img:hover {
  width: 200px;
  height: 200px;
  cursor: pointer;
}

figcaption{
  text-align: center;
  font-size: 20px;
}

.radio-img{
  width:20px;
  height:15px;
  margin-right: 10px;
  margin-left: 5px;
}

.edit-row{
  width:20px;
  height:15px;
  margin-right: 10px;
  margin-left: 5px;
}

.container-fluid {
  padding-right: 30px;
  padding-left: 30px;
  margin-right: auto;
  margin-left: auto;
}


.myform{
  font-size: 20px;
}

.language-form{
  margin-top: 2px;
}

.form-group{
  margin-bottom: 10px;
}

.form-text{
  font-size: 15px;
  width: 100%;
  border-style: solid;
  border-color: slategrey;
}

.form-label{
  text-align: right;
  padding-right: 20px;
}

.form-submit{
  border-style: solid;
  border-color: slategray;
  background-color: #fefefe;
  color:black;
}
.form-submit:hover{
  background-color: slategray;
}
.form-picture-admin{
  height: 150px;
  width: 150px;
  float: center;
  margin: 0 0 10px 10px;
}

.button-group{
  float:left;
  padding-left: 10px;
  margin-top: 10px;
  width: 100%;
}

.button-group button{
  margin-left: 5px;
}
.panel{
  background-color: white;
  border: 1px solid black;
  padding: 10px;
  margin: 10px;
}

.panel-heading{
  text-align: left;
  padding: 10px;
  margin: auto;
  font-size: 20px;
  border-bottom: 1px solid;
}

.panel-content{
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  width: 100%;
  font-size: 10px;
  overflow: auto;
}

.beer-list{
  font-size: 15px;
  border: 2px double gray;
  padding: 0px;
}

.beer-list li{
  border: 1px solid black;
  white-space: nowrap;
  display: block;
  overflow: auto;
}

.beer-list li a{
  position: relative;
  float: left;
  padding: 6px 12px;
  margin-left: -1px;
  min-width: 33%;
  overflow: hidden;
  line-height: 1.42857143;
  color: #337ab7;
  text-decoration: none;
  background-color: #fff;
  border: 1px solid #ddd;
}

table {
    width:100%;
    font-size: 15px;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

th, td {
    padding: 5px;
    text-align: left;
}

td > i{
  margin-left: 10px;
  cursor: pointer;
}
table tr:nth-child(even) {
    background-color: #eee;
}
table tr:nth-child(odd) {
   background-color:#fff;
}
table th  {
    background-color: black;
    color: white;
}


.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
  float: left;
  position: relative;
  min-height: 1px;
  /*
  padding-right: 15px;
  padding-left: 15px; */
}

.col-12 {
  width: 100%;
}
.col-11 {
  width: 91.66666667%;
}
.col-10 {
  width: 83.33333333%;
}
.col-9 {
  width: 75%;
}
.col-8 {
  width: 66.66666667%;
}
.col-7 {
  width: 58.33333333%;
}
.col-6 {
  width: 50%;
}
.col-5 {
  width: 41.66666667%;
}
.col-4 {
  width: 33.33333333%;
}
.col-3 {
  width: 25%;
}
.col-2 {
  width: 16.66666667%;
}
.col-1 {
  width: 8.33333333%;
}

.col-offset-12 {
  margin-left: 100%;
}
.col-offset-11 {
  margin-left: 91.66666667%;
}
.col-offset-10 {
  margin-left: 83.33333333%;
}
.col-offset-9 {
  margin-left: 75%;
}
.col-offset-8 {
  margin-left: 66.66666667%;
}
.col-offset-7 {
  margin-left: 58.33333333%;
}
.col-offset-6 {
  margin-left: 50%;
}
.col-offset-5 {
  margin-left: 41.66666667%;
}
.col-offset-4 {
  margin-left: 33.33333333%;
}
.col-offset-3 {
  margin-left: 25%;
}
.col-offset-2 {
  margin-left: 16.66666667%;
}
.col-offset-1 {
  margin-left: 8.33333333%;
}
.col-offset-0 {
  margin-left: 0;
}



.modal {
  display: none; /* Hidden by default */
  position: absolute; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 1s; /* Firefox < 16 */
  -ms-animation: fadein 1s; /* Internet Explorer */
  -o-animation: fadein 1s; /* Opera < 12.1 */
  animation: fadein 1s;
}

@keyframes fadein {
  from { padding-top: 0; }
  to   { padding-top: 100px; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  from { padding-top: 0; }
  to   { padding-top: 100px; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from { padding-top: 0; }
  to   { padding-top: 100px; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
  from { padding-top: 0; }
  to   { padding-top: 100px; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
  from { padding-top: 0; }
  to   { padding-top: 100px; }
}

.modal-header {
  background-color: #fefefe;
  margin: auto;
  height: 50px;
  overflow:hidden;
  padding: 5px 0px 5px 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #888;
}
/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  height:auto;
  overflow:auto;
  padding: 10px 30px 40px 30px;
  border: 1px solid #888;
  width: 50%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
.bar {
  float: left;
  width: 200px;
  height: 500px;
  padding: 10px;
  border: 5px solid #aaaaaa;
  position: relative;

}
.bartable {
  float: right;
  width: 300px;
  height: 480px;
  padding: 10px;
  border: 5px solid #800000;
  position: relative;
}
.beer {
  display: inline-block;
  padding: 50px;
  border: 5px solid #09324a;
  position: relative;

}